@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inclusive-sans);
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-inclusive-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cabin), sans-serif;
}
